.content_wrap {
    display: flex;
    gap: 20px;
}

aside {
    width: 25%;
    display: flex;
}

header {
    padding-left: calc(25% + 20px + 20px); //25% är bredden på aside. 20px är padding 10px på vardera sida. 20px är gap på 20px i content_wrap
    text-align: left;
}


