body {
    margin: 40px;
    margin-top: 10px;
    padding: 40px;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background-color: white;  
}

header {
    height: 16vw;

    padding-top: 30px;
    position: relative;

    background-color: black;
    color: white;
}

aside {
    display: block;
    border-top: 2px;
    border-color: black;
    max-width: 25vw;
    margin-top: -250px;
    margin-left: 30px;
    background-color: rgb(245, 243, 248);
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    padding: 10px;
    z-index: 1;
    position: relative;
}

.full-page {
    min-height: 100vh;

}

.profilbild {
    border-radius: 50%;  
    margin-left: 15px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 40px;
 }

.circle {
    border: 3px solid black;
    border-radius: 50%;
    background-color: transparent;
    height: 220px;
    width: 220px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

address{
    margin-bottom: 24px;
}

ul {
    margin-bottom: 24px;
}

h1 {
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.titel {
    display: block;
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

h2 {
    margin-top: 24px;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1,5rem;
    border-bottom: 2px solid black;
}

p {
    margin-bottom: 24px;
}

article {
    width: 50%;
    margin-top: 60px;
}

main {
    border-width: 1px;
    border-style: double;
    border-color: black;
}

