body {
    margin: 80px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 60px;
    padding-top: 10px;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background-color: white;
}

.word_container {
    word-wrap: break-word;
}

header {
    min-height: 16vw;
    padding-top: 30px;
    position: relative;
    background-color: rgb(13, 13, 13);
    color: white;
}

aside {
    display: block;
    border-top: 2px;
    border-color: black;
    max-width: 25vw;
    margin-top: -240px;
    margin-left: 30px;
    background-color: rgb(249, 248, 251);
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    padding: 10px;
    z-index: 1;
    position: relative;
}

.full-page {
    min-height: 100vh;

}

.profilbild {
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 40px;
}

.circle {
    border: 2px solid black;
    border-radius: 50%;
    background-color: transparent;
    height: 220px;
    width: 220px;
    margin: auto;
    margin-top: 5px;
    position: relative;
}

address {
    margin-bottom: 24px;
}

ul {
    margin-bottom: 24px;
}

h1 {
    margin-top: 20px;
    margin-left: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.titel {
    display: block;
    margin-left: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

h2 {
    margin-top: 70px;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-bottom: 2px solid black;
}

h3 {
    color: rgb(187, 86, 3);
    line-height: 20px;
}

p {
    margin-bottom: 24px;
}

article {
    width: 55%;
    margin-top: 0;
    margin-left: 20px;
    padding-bottom: 60px;
}

main {
    border-width: 1px;
    border-style: double;
    border-color: black;
}

.year {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}

footer {
    min-height: 4vw;
    padding: 30px;
    margin-bottom: 1px;
    position: relative;
    background-color: rgb(13, 13, 13);
    color: white;
    text-align: center;
}