.full-page {
    min-height: 100vh;
}

header{

    height: auto;
    padding-right: 230px;
    padding-left: 40px;
    padding-top: 20px;
    position: relative;
    text-align: right;

    background-color: black;
    color: white;
}

body {

    margin: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: white;

}

article {
    width: 50%;
    margin-left: 450px;
    margin-top: 40px;
    
}

h1 {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}


a:link {
    /*länkar*/
    color: rgb(51, 9, 219);
    text-decoration: none;
    text-transform: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

aside {
    /* Rutan To the moon*/
    display: block;
    border-color: 1 px black;
    max-width: 25vw;
    margin-top: 0px;
    margin-left: 0;
    background-color: light rgb(149, 148, 148);
    position: absolute;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    padding: 10px;
}


.footer {
    margin-top: 300px;
    padding: 20px;
    text-align: center;
    background: light grey;
    }
